@page {
  margin-top: 1in;
  margin-bottom: 1in;
  margin-left: 1in;
  margin-right: 1in; }
body {
  font-family: Enriqueta, serif;
  margin: 3em 4em;
  margin-top: 3em;
  font-size: 13px; }

@media print {
  body {
    margin: 2em !important;
    font-size: 11px; } }
h1 {
  border-bottom: 1pt solid black;
  margin-top: 0; }

.left {
  float: left;
  max-width: 82.5%; }

.right {
  float: right;
  text-align: right; }

.clearfix {
  overflow: hidden; }

.two-col {
  display: table; }
  .two-col section {
    display: table-row; }
    .two-col section .label, .two-col section .details {
      padding: 1em 0;
      display: table-cell; }
    .two-col section .label {
      vertical-align: top;
      font-variant: small-caps;
      white-space: nowrap;
      padding-right: 2em; }
    .two-col section .details {
      width: 100%; }
      .two-col section .details:last-child {
        padding-bottom: 0.5em; }
      .two-col section .details .date {
        float: right;
        font-weight: bold;
        margin-left: 2em; }
      .two-col section .details ul {
        padding: 0 0 0 1em;
        margin: 0;
        margin-bottom: 1em; }
        .two-col section .details ul.flushleft {
          padding-left: 0; }
        .two-col section .details ul li {
          list-style: none;
          max-width: 87.5%; }

section .details ul:last-of-type {
  margin-bottom: 5px !important; }
