@page {
  margin-top: 0.67in;
  margin-bottom: 0.67in;
  margin-left: 0.67in;
  margin-right: 0.67in;
}

body {
  font-family: Enriqueta, serif;
  margin: 3em 4em;
  margin-top: 3em;
  font-size: 13px;
}

h1 {
  border-bottom: 1pt solid black;
  margin-top: 0;
  margin-bottom: 5px;
}

.left {
  float: left;
  max-width: 82.5%;
}

.right {
  float: right;
  text-align: right;
}

.clearfix {
  overflow: hidden;
}

.two-col {
  display: table;
  section {
    display: table-row;

    .label, .details {
      padding: 0.75em 0;
      display: table-cell;
    }

    .label {
      vertical-align: top;
      font-variant: small-caps;
      white-space: nowrap;
      padding-right: 2em;
    }

    .details {
      &:last-child {
        padding-bottom: 0.5em;
      }

      width: 100%;  // take max available
      .date {
        float: right;
        font-weight: bold;
        margin-left: 2em;
      }
      ul {
        &.flushleft {
          padding-left: 0;
        }
        padding: 0 0 0 1em;
        margin: 0;
        margin-bottom: 1em;
        li {
          list-style: none;
          max-width: 87.5%;
        }
      }
    }

  }
}

section .details ul:last-of-type {
  margin-bottom: 5px !important;
}

section:last-of-type .details {
  padding-bottom: 0 !important;
}

a:link { color: #0000EE; }
a:visited { color: #0000EE; }

@media print {
  body {
    margin: 2.5em !important;
    margin-bottom: 0 !important;
    font-size: 11px;
  }

  .two-col section {
    &.Other {
      .details {
        ul:first-of-type {
          li:not(:last-of-type) {
            max-width: 100%;
          }
        }
      }
    }
  }
}


