<!DOCTYPE html>
<html>

<head>
  <title>Andrew Slavin Ross</title>
  <meta charset='UTF-8'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <link rel="stylesheet" href="{{ 'style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body class="home page-template-default page has-featured-image">
	
<div class="wrapper">
  <div class="sidebar">
    <div class="blog-header">
      <h1 class="blog-title">
        <a href="/" title="Andrew Slavin Ross" rel="home">Andrew Ross</a>
      </h1>
      
      <h3 class="blog-description">PhD student in Computer Science at Harvard, former Vermonster.</h3>
    </div> <!-- /blog-header -->
    
    <div class="nav-toggle toggle">
      <p>
        <span class="show">Show menu</span>
        <span class="hide">Hide menu</span>
      </p>
    
      <div class="bars">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="clear"></div>
      </div>
    </div> <!-- /nav-toggle -->
    
    <div class="blog-menu">
      <ul class="navigation">
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item {% if page.url == '/' %}current-menu-item current-page-item{% endif %}"><a href="/">Home</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'Publications' %}current-menu-item current-page-item{% endif %}"><a href="/publications">Publications</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'Activities' %}current-menu-item current-page-item{% endif %}"><a href="/activities">Activities</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/cv">CV</a></li>
     </ul>
     <div class="clear"></div>
    </div> <!-- /blog-menu -->
    
    <div class="mobile-menu" style="display: none;">
       <ul class="navigation">
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item"><a href="/">Home</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/publications">Publications</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/activities">Activities</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/cv">CV</a></li>
       </ul>
    </div> <!-- /mobile-menu -->
  </div> <!-- /sidebar -->

  <div class="content">
    <div class="posts">
      <div class="post">
        <div class="post-inner">
                              
          {% if page.title %}
            <div class="post-header">
              <h2 class="post-title">{{ page.title }}</h2>
            </div> <!-- /post-header -->
          {% endif %}
                          
          <div class="post-content">
            {{ content }}
          </div> <!-- /post-content -->
        </div> <!-- /post-inner -->
      </div> <!-- /post -->
    </div> <!-- /posts -->
    
    <div class="clear"></div>

    <div class="footer section large-padding bg-dark">
      <div class="clear"></div>
    </div> <!-- /footer -->
      
    <div class="credits">
      <div class="credits-inner">
        <p class="credits-left">
          © 2019 <a href="/" title="Andrew Slavin Ross">Andrew Slavin Ross</a>
        </p>
        
        <p class="credits-right">
          <span>Theme by <a href="http://www.andersnoren.se">Anders Noren</a></span> — <a title="To the top" class="tothetop">Up ↑</a>
        </p>
        
        <div class="clear"></div>
      </div> <!-- /credits-inner -->
    </div> <!-- /credits -->

	</div> <!-- /content -->
	<div class="clear"></div>
</div> <!-- /wrapper -->

</body>

<script>
  jQuery(document).ready(function($) {
    // Toggle mobile-menu
    $(".nav-toggle").on("click", function(){
      $(this).toggleClass("active");
      $(".mobile-menu").slideToggle();
      if ($(".search-toggle").hasClass("active")) {
        $(".search-toggle").removeClass("active");
        $(".blog-search").slideToggle();
      }
    });

    // Show mobile-menu > 700
    $(window).resize(function() {
      if ($(window).width() > 800) {
        $(".toggle").removeClass("active");
        $(".mobile-menu").hide();
        $(".blog-search").hide();
      }
    });
    // Smooth scroll to header
      $('.tothetop').click(function(){
      $('html,body').animate({scrollTop: 0}, 500);
      $(this).unbind("mouseenter mouseleave");
          return false;
      });
  });
</script>

</html>
